/*
========================================================================================
    Nextflow config file for submission to AWS Batch
========================================================================================
    Defines executor and queue.

    Use as follows:
        nextflow run main.nf -profile awsbatch,<others>

----------------------------------------------------------------------------------------
*/

aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-west-2'
}

params {
    awsqueue = 'nextflow-rnaseq'
    awsregion = 'us-west-2'
}

process {
    executor = 'awsbatch'
    queue = 'nextflow-rnaseq'
    errorStrategy = 'retry'
    maxRetries = 1
}
